<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
		
	<div th:replace="~{base :: nav-bar}"></div>	
		
	<div class="container">
	
	<div th:replace="~{base :: jumbotrom('Novo Pedido')}">
	</div>
	
	<form th:object="${requisicaoNovoPedido}"  action="/pedido/novo" class="card-body" method="POST" >
		<div class="form-group">
			<label for="nomeProduto">Produto</label>
			<input th:field="*{nomeProduto}" name="nomeProduto" type="text" class="form-control" th:errorclass="is-invalid" placeholder="Nome do produto."/>
			<small>Informa qual o nome do produto.</small>
			<div class="invalid-feedback"th:errors="*{nomeProduto}">
				erros nome do produto
			</div>
		</div>
	
		<div class="form-group">
			<label for="urlProduto">Url</label>
			<input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" name="urlProduto" type="text" placeholder="Url do produto."/>
			<small>Procure em um site o produto que você deseja e cole a url da pagina aqui.</small>
			<div class="invalid-feedback "th:errors="*{urlProduto}">
				erros na url do produto
			</div>
		</div>
		
		<div class="form-group">
			<label for="urlImagem">Imagem</label>
			<input th:field="*{urlImagem}" class="form-control" name="urlImagem" type="text" th:errorclass="is-invalid" placeholder="Url da imagem."/>
			<small>Copie a url de uma boa imagem no google e cole aqui para ajudar compradores.</small>
			<div class="invalid-feedback" th:errors="*{urlImagem}">
				erros da url da imagem
			</div>
		</div>
		
		<div class="form-group">
			<label for="descricao">Descricao</label>
			<textarea th:field="*{descricao}" class="form-control" name="descricao" type="text" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
		</div>
		<button class="btn btn-outline-primary" type="submit">Cadastrar</button>
	
	</form>
	
	
	</div>

</body>
</html>